<form method="GET" action="{{ url_for('bank_management.homepage') }}">
    <div class="row form-group">
        <div class="col-lg-4 col-sm-12">
            <label>Data transakcji (od)</label>
            <input type="search" class="form-control datepicker" name="date_from" value="{{ form_options.date_from }}"  />
        </div>
        <div class="col-lg-4 col-sm-12">
            <label>Data transakcji (do)</label>
            <input type="search" class="form-control datepicker" name="date_to" value="{{ form_options.date_to }}"  />
        </div>
        <div class="col-lg-4 col-sm-12" style="margin-top:25px">
            <input type="submit" class="form-control btn btn-primary" name="submit" value="Filtruj"  />
        </div>
    </div>
</form>