{% extends 'layout.html' %}
{% block container %}
    {% include 'bank_managment/operations/_list_of_operations_date_filter.html' %}
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-stripped table-condensed" id="datatable">
                <thead>
                    <tr>
                        <th>Data transakcji</th>
                        <th>Data księgowania</th>
                        <th>Nazwa kontrahenta</th>
                        <th>Tytułem</th>
                        <th>Kwota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                        <tr>
                            <td>{{ record[0] }}</td>
                            <td>{{ record[1] }}</td>
                            <td>{{ record[2] }}</td>
                            <td>{{ record[4] }}</td>
                            <td>{{ record[5] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}