{% extends 'layout.html' %}
{% block container %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Import operacji bankowych
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('bank_management.upload_new_bank_balance_post') }}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Wybierz listę operacji</label>
                            <input type="file" name="fileupload" id="fileToUpload">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Importuj operacje" name="submit" class="form-control btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}