{% extends 'layout.html' %}
{% block container %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <form action="{{ url_for('register_user') }}" method="POST">
                    <div class="form-group">
                        <label>Login</label>
                        <input type="username" name="username" placeholder="Login" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Hasło</label>
                        <input type="password" name="password" placeholder="Haslo" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Powtórz hasło</label>
                        <input type="password" name="password2" placeholder="Powtórz haslo" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Rejestruj" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
{% endblock %}