<tr>
    <td class="bg-danger">
        <form method="POST" action="{{ url_for('bank_management.modify_mapping') }}">
            <input type="hidden" value="0" name="mapping_id"/>
            <input type="hidden" value="0" name="user_id"/>
            <input type="text" value="" name="operation_contrahent_name" class="form-control" required/>
    </td>
    <td class="bg-danger">
        <input type="text" value="" name="operation_mapping_name" class="form-control" required/>
    </td>
    <td class="bg-danger">
        <input type="submit" value="Dodaj" name="submit" class="btn btn-success btn-sm"/>
        </form>
    </td>
</tr>