<form method="POST" action="{{ url_for('bank_management.remove_mapping') }}" style="display:inline">
    <input type="hidden" name="mapping_id" value="{{ single[0] }}"/>
    <input type="submit" name="submit" value="Usuń" class="btn btn-danger btn-sm"/>
</form>