<tr>
    <td>
        <form method="POST" action="{{ url_for('bank_management.modify_mapping') }}">
            <input type="hidden" value="{{ single[0] }}" name="mapping_id"/>
            <input type="hidden" value="{{ single[1] }}" name="user_id"/>
            <input type="text" value="{{ single[2] }}" name="operation_contrahent_name" class="form-control"/>
    </td>
    <td>
        <input type="text" value="{{ single[3] }}" name="operation_mapping_name" class="form-control"/>
    </td>
    <td>
        <input type="submit" value="Zapisz" name="submit" class="btn btn-success btn-sm"/>
        </form>
        {% include 'contrahents/_remove_mapping.html' %}
    </td>
</tr>