{% extends 'layout.html' %}
{% block container %}
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th class="col-lg-6">Nazwa kontrahenta w operacji bankowej</th>
                        <th class="col-lg-4">Nazwa zmapowana</th>
                        <th class="col-lg-2">Akcja</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'contrahents/_new_mapping.html' %}
                    {% for single in list %}
                        {% include 'contrahents/_single_mapping.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}