{% extends 'layout.html' %}
{% block container %}
    <div class="row">
        <div class="col-lg-12">
            Witaj w swoim panelu. W górnym menu wybierz odnośnik odpowiadający Twoim zainteresowaniom. Have fun!
        </div>
    </div>
{% endblock %}